{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}


<section class="basket" id="cart-items-container">
    <img class="basket__background" src="{% static "deps/img/main-background.jpg" %}" alt="фото цветов">
    
    <div class="basket__container" style="overflow: hidden">
        <h1 class="basket__title">Моя корзина</h1>

        {% include "carts/includes/ordered_goods.html" %}


        {% if carts %}
        <hr>
            <div class="basket__order-container">
                <form action="/orders/create-order" >
                    <button type="submit" class="basket__order-container__commit-button">Оформить</button>
                </form>
                <div class="basket__order-container__total total">
                    <h2>Итого:</h2>
                    <p class="total__price">{{ carts.total_price }}₽</p>
                    <p class="total__goods-amount">
                        <span class="total__goods-amount-counter" id="goods-in-cart-count">
                            {{ carts.total_quantity }}
                        </span>
                         товара
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
</section>