{% extends "main/base.html" %}

{% load static %}

{% block content %}
  <main>
    <section class="hero">
      <img class="hero__background" src="{% static "deps/img/main-background.jpg" %}" alt="фото цветов">
      <img class="hero__logo" src="{% static "deps/icons/logo-white.svg" %}" alt="логотип компании">
      <h2 class="hero__title">{{ content }}</h2>
    </section>

    <section class="category">
      <ul class="category__list">
        <li class="category__list-item">
          <a href="catalog.html">
            <img src ="{% static "deps/img/category/blooming.png" %}" alt="Цветущие растения">
            <p>Цветущие растения</p>
          </a>
        </li>
        <li class="category__list-item">
          <a href="#">
            <img src ="{% static "deps/img/category/deciduous.png" %}" alt="Лиственные растения">
            <p>Лиственные растения</p>
          </a>
        </li>
        <li class="category__list-item">
          <a href="#">
            <img src ="{% static "deps/img/category/fruit.png" %}" alt="Плодовые растения">
            <p>Плодовые растения</p>
          </a>
        </li>
        <li class="category__list-item">
          <a href="#">
            <img src ="{% static "deps/img/category/cactuses.png" %}" alt="Кактусы и суккуленты">
            <p>Кактусы и суккуленты</p>
          </a>
        </li>
        <li class="category__list-item">
          <a href="#">
            <img src ="{% static "deps/img/category/pots.png" %}" alt="Горшки и кашпо">
            <p>Горшки и кашпо</p>
          </a>
        </li>
        <li class="category__list-item">
        <div class="category__list-item__links">
          <a class="category__link all-goods" href="#">Все товары</a>
          <a class="category__link sales-goods" href="#">Товары со скидкой</a>
        </div>
        </li>
      </ul>
    </section>
  </main>
{% endblock %}

{% block footer %}
  <footer class="main-footer">
    <p>Made by “Бригада Cripples”</p>
  </footer>
{% endblock %}