body{
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    line-height: 24px;
}
ul{
    list-style: none;
    margin:0;
    padding: 0;
}
p, h1{
    margin: 0;
}


.main-header{
    margin-top: 30px;
    font-family: Raleway, serif;
}
.main-navigation{
    display: flex;
    gap: 15px;
    width: 1320px;
    margin: 0 auto;
}
.main-navigation a{
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}
.main-navigation__navigation-list{
    display: flex;
    gap: 10px;
}
.navigation-list-item{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 23px;
    height: 26px;
}
.navigation-list-item:hover{
    background-color: #E0E7DF;
}
.search{
    width: 630px;
    padding: 0;
    margin: 0 39px;
    border: none;
}
.site-navigation__form-input-search{
    padding: 0.375rem 0.75rem;
    display: block;
    width: 100%;
    height: calc(2.25rem - 2px);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #212529;
    border: 1px solid black;
    border-radius: 10px;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.personal-cabinet{
    width: 162px;
    display: block;
    position: relative;
}
.personal-cabinet__button{
    position: absolute;
    left: 0;
    top: 0;
    padding: 11px 25px;
    display: block;
    white-space: nowrap;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    background-clip: padding-box;
    cursor: pointer;
}
.main-navigation__dropdown-menu{
    position: absolute;
    left: 0;
    top: 53px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    width: 210px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    align-items: center;
    z-index: 99;
}

.main-navigation__dropdown-menu-item{
    box-sizing: border-box;
    width: 200px;
    height: 43px;
    padding: 0 10px;
    background-image: url("../icons/personal-cabinet-refs-button.svg");
    background-position: right;
    background-repeat: no-repeat;
}
.main-navigation__dropdown-menu-item a{
    display: block;
    cursor: pointer;
    line-height: 40px;

}

.visually-hidden{
    display: none;
}

.hero{
    width: 1320px;
    height: 390px;
    position: relative;
    margin: 60px auto 0;
}
.hero__title{
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    align-self: center;
    color: white;
    position: absolute;
    top: 185px;
    left: 198px;
}
.hero__logo{
    position: absolute;
    top: 95px;
    left: 561px;
}
.hero__background{
    width: 1320px;
    height: 390px;
    object-fit: cover;
    object-position: center;
    display: block;

    position: absolute;
    filter: brightness(0.5);
    border-radius: 10px;
    z-index: -1;
}


.category{
    margin: 40px auto 90px;
    width: 1320px;
}
.category__list{
    display: flex;
    gap: 18px;
}
.category__list-item:not(.category__list-item:last-child){
    width: 210px;
    height: 280px;
    box-shadow: 0 6px 6px 0 #00000040;
    border-radius: 10px;
}

.category__list-item img{
    padding: 12px 10px 0;
}
.category__list-item p{
    font-size: 24px;
    margin: 10px auto 0;
    width: 164px;
    text-align: center;
}
.category__list-item__links{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.category a:not(.category__link){
    text-decoration: none;
    color: inherit;
}
.category__link{
    width: 180px;
    height: 130px;
    box-shadow: 0 6px 6px 0 #00000040;
    border-radius: 10px;

    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

    text-decoration: none;
    color: white;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-goods{
    background-color: #5C9459;
}
.sales-goods{
    background-color: #F28229;
}

.main-footer{
    height: 40px;
    background-color: #E1E7E0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
