{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/styles/login.css" %}">
{% endblock css %}

{% block content %}
    <img class="authorization__background" src="{% static "deps/img/main-background.jpg" %}" alt="фото цветов">
    <section class="authorization">
        <div class="authorization__container">
            <h1 class="authorization__container-title">Авторизация</h1>
            <form class="authorization__container__login-form login-form">
                <div class="login-form__input-section">
                    <div class="wrapper">
                        <label for="username" class="form-label">Имя пользователя</label>
                        <input type="text" class="form-input" id="username" placeholder="Введите имя пользователя" required>
                    </div>
                    <div>
                        <label for="password" class="form-label">Пароль</label>
                        <input type="password" class="form-input" id="password" placeholder="Введите пароль" required>
                    </div>
                </div>
                <div class="login-form__wrapper">
                    <button type="submit" class="log-in-button">Войти</button>
                    <div class="login-form__refs-wrapper">
                        <a class="login-form__ref" href="#">Забыли пароль</a>
                        <a class="login-form__ref" href="{% url "user:registration" %}">Создать аккаунт</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}