{% extends "base.html" %}
{% load static %}
{% load carts_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/styles/profile.css" %}">
{% endblock css %}


{% block content %}
    <img class="my-profile__background" src="{% static "deps/img/main-background.jpg" %}" alt="фото цветов">
    <section class="my-profile">
        <div class="my-profile__container">
            <div class="my-profile__info">
                <h1 class="my-profile__info-title">Мой профиль</h1>
                <form class="my-profile__info-container info-container"
                action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="info-container__input-section">
                        <div class="wrapper">
                            <label for="id_first_name" class="form-label">Имя*</label>
                            <input type="text" class="form-input" id="id_first_name"
                            name="first_name"
                            value="{{ form.first_name.value }}"
                            placeholder="Введите имя" required>
                        </div>

                        <div class="wrapper">
                            <label for="id_last_name" class="form-label">Фамилия</label>
                            <input type="text" class="form-input" id="id_last_name" 
                            name="last_name"
                            value="{{ form.last_name.value }}"
                            placeholder="Введите фамилию" required>
                        </div>
                        <div class="wrapper">
                            <label for="id_username" class="form-label">Имя пользователя*</label>
                            <input type="text" class="form-input" id="id_username"
                            name="username"
                            value="{{ form.username.value }}"
                            placeholder="Введите имя пользователя" required>
                        </div>
                        <div class="wrapper">
                            <label for="id_email" class="form-label">Email*</label>
                            <input type="email" class="form-input" id="id_email" 
                            name="email"
                            value="{{ form.email.value }}"
                            placeholder="Введите ваш Email" required>
                        </div>
                    </div>
                    <button type="submit" class="my-profile__info__save-button">Сохранить</button>
                </form>
            </div>

            <div class="my-profile__my-orders">
                <h2 class="my-profile__my-orders-title">Мои заказы</h2>
                <ul class="my-profile__my-orders__order-list">
                    {% for order in orders %}
                    <li class="my-profile__my-orders__order-form  order-form  order-form_brief">
                        <div class="order-form__main-info">
                            <div class="wrapper">
                                <p>Заказ №<span class="order-form__main-info__order-number">{{ order.id }}</span></p>
                                <data class="order-form__main-info__order-date" value="17.03.2024 9:04">{{ order.created_timestamp }}</data>
                            </div>
                            <div class="wrapper">
                                <p class="order-form__state order-form__state_processed">{{order.status}}</p>
                                <button class="order-form__expand-button"></button>
                            </div>
                        </div>
                        <div class="order-form__full-info">
                            <ul class="order-form__full-info__orders-list">
                                 {% for item in order.orderitem_set.all %}
                                <li class="order-form__full-info__orders-list__goods goods">
                                    <p class="goods__name">{{ item.product.name }}</p>
                                    <p class="goods__amount">{{ item.quantity }}</p>
                                    <p class="goods__price-per-product">{{ item.price|floatformat:0 }}₽</p>
                                    <p class="goods__final-price">{{ item.products_price }}₽</p>
                                </li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <div class='wrapper'>
                                <h3>Итого:</h3>

                                <p class="order-form__full-info__total-price">{{ order.total_price }}₽</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>


<script>


// Находим все кнопки с классом order-form__expand-button
let expandButtons = document.querySelectorAll('.order-form__expand-button');

// Добавляем обработчик события click для каждой кнопки
expandButtons.forEach(function(button) {
    button.addEventListener('click', function() {
        // Находим родительский элемент .order-form
        let orderForm = button.closest('.order-form');

        // Переключаем класс order-form_full на order-form_brief и наоборот
        if (orderForm.classList.contains('order-form_full')) {
            orderForm.classList.remove('order-form_full');
            orderForm.classList.add('order-form_brief');
        } else {
            orderForm.classList.remove('order-form_brief');
            orderForm.classList.add('order-form_full');
        }

        // Переключаем класс order-form__expand-button_active на кнопке
        button.classList.toggle('order-form__expand-button_active');
    });
});

</script>

{% endblock content %}

{% block footer %}
    <footer class="main-footer">
        <p>Made by “Бригада Cripples”</p>
    </footer>
{% endblock %}