{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/styles/catalog.css" %}">
{% endblock %}

{% block content %}
    <main>
        <section class="category-header">
        <h2 class="category-heading">Название категории</h2>
        <div class="navigation-list-item">
            <p class="personal-cabinet__button-filters filters">Фильтры</p>
            <!-- <ul class="category-heading__dropdown-filters">
            <li class="category-heading__dropdown-filters-item">Доставка и оплата</li>
            <li class="category-heading__dropdown-filters-item">Контактная информация</li>
            <li class="category-heading__dropdown-filters-item">Про нас</li>
            </ul> -->
        </div>
        </section>

        <section class="goods">
            <ul class="goods-category-list">
                {% for product in goods %}
                    <li class="goods-category-list__item">
                        <a href="#">
                            <img src ="{% static product.image %}" height="250" width="250" alt="{{ product.name }}">
                        </a>
                        <p class="goods-info__id">Арт. {{ product.article }}</p>
                        <p class="goods-info__title">{{ product.name }}</p>
                        <div class="goods-price">
                            <p class="goods-price__new goods-sale">{{ product.price }}</p>
                            {% comment %} <p class="goods-price__old">{{ product.price }}</p> {% endcomment %}
                        </div>
                        <button class="button__add-to-cart" type="button">В корзину</button>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}

{% block footer %}
    <footer class="main-footer">
        <p>Made by “Бригада Cripples”</p>
    </footer>
{% endblock %}