{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/styles/product.css" %}">
{% endblock css %}

{% block content %}
    <img class="item-card__background" src="{% static "deps/img/main-background.jpg" %}" alt="фото цветов">
    <section class="item-card">
        <div class="item-card__container">
            <img class="item-card__photo" src="{{ product.image.url }}" width="500" height="500" alt="{{ product.name }}">
            <div class="item-card__about">

                <div class="item-card__main-info">
                    <h1 class="item-card__title">{{ product.name }}</h1>
                    <p class="item-card__id">Арт. {{ product.display_id }}</p>
                </div>

                <div class="item-card__price">
                    <p class="item-card__price__new item-card__sale">{{ product.sell_price }}</p>
                    <p class="item-card__price__old">{{ product.price }}</p>
                </div>

                <a href="{% url 'cart:cart_add' product.slug %}">
                    <button class="item-card__button__add-to-cart item-card" type="button">В корзину</button>
                </a>
                  
                <div class="item-card__description">
                    <h2 class="item-card__description__title">Описание</h2>
                    <p class="item-card__description__content">{{ product.description }}</p>
                </div>

                <div class="item-card__features">
                    <h2 class="item-card__features__title">Особенности</h2>
                    <p class="item-card__features__content">Сорт — микс;<br />
                        Размеры растения в товарной упаковке: диаметр — 9 см, высота — 17 см;<br />
                        Требует регулярного полива;<br />
                        Используется в народной медицине.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
